@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-style: inherit;
  font-weight: 400;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

body._noScroll {
  overflow: hidden;
}

._hide {
  display: none;
}

._scroll {
  overflow: scroll;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

.foolscreen._active {
  position: fixed !important;
  z-index: 51;
  top: 0;
  left: 0;
  width: 100vw !important;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.95);
  margin: 0;
  padding: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: none;
}
.foolscreen._active img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hide {
  display: none;
}

._anim_show {
  transform: translate(0px, 120%);
  opacity: 0;
  transition: all ease 0.8s;
}

._anim_show_left {
  transform: translate(-100%, 0);
  opacity: 0;
  transition: all ease 0.8s;
}

._anim_show_right {
  transform: translate(100%, 0);
  opacity: 0;
  transition: all ease 0.8s;
}

._anim_show_opacity {
  opacity: 0;
  transition: all ease 0.8s;
}

._anim_show_opacity._active,
._anim_show_left._active,
._anim_show_right._active,
._anim_show._active,
._active ._anim_show {
  opacity: 1;
  transform: translate(0px, 0px);
}

.green {
  color: #034a40;
}

.yellow {
  color: rgb(252, 223, 81);
}

.header_content {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  color: #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  font-size: 1.3rem;
  transition: all ease 0.8s;
}
.header_content .logo {
  z-index: 50;
}
.header_content .logo a {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}
.header_content .logo a > span {
  display: block;
}
.header_content .logo a span > span {
  color: #034a40;
}
.header_content .logo a span:nth-child(2) {
  display: block;
  color: rgb(252, 223, 81);
}
.header_content .nav .navbar {
  display: flex;
}
.header_content .nav .navbar li {
  margin-left: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
}
.header_content .nav .navbar li a {
  color: inherit;
}
.header_content .nav .navbar a:hover {
  text-decoration: underline;
}
.header_content .mob_nav {
  display: none;
}

.header_active {
  background-color: #FFFFFF;
  box-shadow: 0 0 30px #000000;
  color: black !important;
}

.main_container {
  width: 100%;
  background-color: #FFFFFF;
  background-image: url(../assets/images/bg_repeat.svg);
  background-size: contain;
  background-repeat: repeat;
  background-position: top;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  min-height: 500px;
  margin-bottom: 5rem;
}

.section1 {
  background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 25%), url(../assets/images/bridge.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 2rem;
  height: 110vh;
  min-height: 550px;
  left: 0;
  right: 0;
  position: relative;
  overflow: hidden;
}
.section1 .text_container {
  width: 100%;
  height: 12rem;
  position: absolute;
  top: 50%;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.section1 .text_container div {
  height: 4rem;
  padding: 0.5rem 1rem;
  position: absolute;
  padding: 0.5rem;
}
.section1 .text_container .text1 {
  width: 7rem;
  top: 4rem;
  background-color: rgb(252, 223, 81);
  text-transform: none;
  transition: all ease 2s 0.2s;
}
.section1 .text_container .text2 {
  width: 20rem;
  top: 0;
  left: 7rem;
  z-index: 2;
  color: #FFFFFF;
  background-color: #034a40;
  transition: all ease 2s 0.6s;
}
.section1 .text_container .text3 {
  top: 3.5rem;
  left: 19rem;
  z-index: 3;
  background-color: #FFFFFF;
  transition: all ease 2s 1s;
}
.section1 .text_container .text4 {
  text-transform: none;
  font-size: 2rem;
  right: 4rem;
  bottom: 0;
  height: auto;
  background-color: #FFFFFF;
  transition: all ease 2s 4s;
}

.section2 {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.section2 .left {
  width: 50%;
  position: relative;
  padding: 7% 5%;
}
.section2 .left .title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 900;
}
.section2 .left .title span:nth-child(1) {
  color: #034a40;
}
.section2 .left .title span:nth-child(2) {
  display: block;
  color: rgb(252, 223, 81);
}
.section2 .left .description {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 2rem;
}
.section2 .left .description strong {
  color: #034a40;
  font-weight: 700;
}
.section2 .right {
  width: 50%;
  height: 100vh;
  position: relative;
}
.section2 .right figure {
  transition: all ease 0.8s;
}
.section2 .right figure:hover {
  z-index: 5;
}
.section2 .right .img1 {
  width: 75%;
  height: 75%;
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0%);
  box-shadow: 0 0 10px #034a40;
  overflow: hidden;
}
.section2 .right .img1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}
.section2 .right .img2 {
  width: 60%;
  height: 70%;
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translate(0%, -50%);
  box-shadow: 0 0 10px #034a40;
  overflow: hidden;
}
.section2 .right .img2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.section3 {
  padding: 0 2rem;
  display: flex;
  align-items: center;
  position: relative;
}
.section3 .left {
  width: 50%;
  height: 100%;
  position: relative;
}
.section3 .left .img3 {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 10px #034a40;
  overflow: hidden;
}
.section3 .left .img3 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section3 .right {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 5%;
}
.section3 .right .title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #252828;
}
.section3 .right .title strong {
  color: rgb(252, 223, 81);
}
.section3 .right .description {
  font-size: 1.8rem;
  font-weight: 500;
  margin-top: 3rem;
  padding: 1.8rem;
  background-color: #034a40;
  color: #FFFFFF;
}
.section3 .top {
  position: absolute;
  top: 0%;
  left: 0%;
}

.section4 {
  padding-left: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}
.section4 .left {
  width: 40%;
  z-index: 2;
  position: absolute;
  left: 2rem;
  bottom: 50%;
  transform: translate(0, 50%);
}
.section4 .left .text_container {
  background-color: #034a40;
  color: #FFFFFF;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 2rem;
}
.section4 .left .text_container .title {
  text-transform: uppercase;
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: rgb(252, 223, 81);
}
.section4 .right {
  width: 75%;
  height: 100%;
  background: url(../assets/images/img4-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.section4 .right figure {
  display: block;
  position: absolute;
  width: 25%;
  height: 33.3%;
  overflow: hidden;
}
.section4 .right figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.section4 .right .img1 {
  right: 25%;
  top: 0;
  transition: all ease 0.8s 0.2s;
}
.section4 .right .img2 {
  right: 0%;
  top: 33.3%;
  transition: all ease 0.8s 0.6s;
}
.section4 .right .img3 {
  right: 25%;
  top: 66.6%;
  transition: all ease 0.8s 1s;
}

.section5 {
  padding: 0 2rem;
  overflow: hidden;
}
.section5 .title {
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #034a40;
  color: #FFFFFF;
  font-size: 2.5rem;
  font-weight: 500;
  transition: all ease 0.4s;
}
.section5 .title strong {
  color: rgb(252, 223, 81);
}
.section5 .places {
  width: 100%;
  height: 90%;
  overflow: hidden;
}
.section5 .selected {
  width: 100%;
  height: 70%;
  margin-top: 1rem;
  display: flex;
}
.section5 .selected .text {
  width: 40%;
}
.section5 .selected .text h5 {
  margin: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
  color: #034940;
}
.section5 .selected .text .description {
  font-size: 1.2rem;
  font-weight: 500;
  background-color: #034a40;
  color: #FFFFFF;
  padding: 1rem;
}
.section5 .selected .photo {
  width: 60%;
  height: 100%;
  padding: 1rem 2rem;
  position: relative;
}
.section5 .selected .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  box-shadow: 0 0 10px #034a40;
}
.section5 .selected .photo .previous_slide, .section5 .selected .photo .next_slide {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 0.7rem;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1rem;
  transition: 0.6s ease;
  transform: translate(0%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0;
}
.section5 .selected .photo .previous_slide {
  left: 2rem;
}
.section5 .selected .photo .next_slide {
  right: 2rem;
}
.section5 .selected .photo .previous_slide:hover,
.section5 .selected .photo .next_slide:hover {
  background-color: rgb(3, 73, 64);
}
.section5 .selected .photo .item {
  animation-name: fade;
  animation-duration: 1.5s;
}
.section5 .selected .photo:hover button {
  opacity: 1;
}
.section5 .gallery {
  width: 100%;
  height: 25%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 0.5rem;
}
.section5 .gallery div {
  width: 100%;
  height: 100%;
}
.section5 .gallery div .gallery_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all ease 0.4s;
  cursor: pointer;
}
.section5 .gallery div .gallery_img.active {
  transform: scale(1.05);
  box-shadow: 0 0 10px #034a40;
}
.section5 .gallery div .gallery_img:hover {
  box-shadow: 0 0 10px #034a40;
}
.section5 .gallery .gallery_img:hover {
  transform: scale(1.05);
}

.section6 {
  width: 100%;
  padding: 0;
  height: auto;
  /* Стилі для повноекранного контейнера зображення */
}
.section6 .line {
  width: 100%;
  height: 2rem;
  background-color: #034940;
  background-image: url(../assets/images/ornament_white.svg);
  background-size: contain;
}
.section6 .title {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2rem auto 0;
  padding: 1rem 2rem;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #034a40;
  color: #FFFFFF;
}
.section6 .images_bank {
  position: relative;
  padding: 2rem 8rem;
}
.section6 .images_bank button {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 8rem;
  background: inherit;
  color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
.section6 .images_bank .show_less {
  rotate: -90deg;
  animation: arrowUp 2s ease-in-out infinite forwards;
  transform: translate(0, -14%);
}
.section6 .images_bank .show_more {
  rotate: 90deg;
  animation: arrowDown 2s ease-in-out infinite forwards;
  transform: translate(0, 14%);
}
.section6 .images_wrapper {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section6 .images_wrapper div {
  width: 100%;
  height: 70vh;
  min-height: 500px;
  padding: 0.2rem;
  overflow: hidden;
}
.section6 .images_wrapper div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  cursor: pointer;
}
.section6 #fullscreenImageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
  padding: 1rem;
  overflow: hidden;
}
.section6 #fullscreenImageContainer .content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section6 #fullscreenImageContainer #fullscreenImage {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  cursor: zoom-in;
  transition: transform 0.2s ease-in-out;
}
.section6 #fullscreenImageContainer #fullscreenImage._zoomed {
  cursor: zoom-out;
  max-width: none;
  max-height: none;
}
.section6 #fullscreenImageContainer button {
  position: absolute;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 5rem;
  padding: 1rem;
  background: inherit;
  color: rgba(255, 255, 255, 0.7);
  z-index: 102;
  transform: translate(0, -50%);
  cursor: pointer;
}
.section6 #fullscreenImageContainer #closeFullscreenBtn {
  font-size: 4rem;
  top: 2rem;
  right: 1rem;
}
.section6 #fullscreenImageContainer #prevImageBtn {
  top: 50%;
  left: 0;
}
.section6 #fullscreenImageContainer #nextImageBtn {
  top: 50%;
  right: 0;
}
@keyframes arrowDown {
  0% {
    opacity: 0;
    bottom: 4rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 1rem;
  }
}
@keyframes arrowUp {
  0% {
    opacity: 0;
    bottom: 1rem;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 4rem;
  }
}

.section7 {
  height: 100vh;
  max-height: 700px;
  min-height: 300px;
  padding: 2rem;
  overflow: hidden;
}
.section7 .title {
  display: inline-block;
  margin-left: 2rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: #034a40;
  margin-bottom: 2rem;
  border-bottom: 3px solid rgb(252, 223, 81);
}
.section7 .video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0.5rem;
  background-color: #000000;
}
.section7 .video iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section8 {
  height: auto;
  margin-bottom: 0;
  min-height: 300px;
}
.section8 .title {
  width: 100%;
  padding: 1rem 0;
  font-size: 2rem;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background-color: #034a40;
}
.section8 .title span {
  color: rgb(252, 223, 81);
}
.section8 .content {
  padding: 2rem;
}
.section8 .content .item_container {
  overflow: hidden;
}
.section8 .content .item_container .question {
  display: block;
  z-index: 5;
  width: 100%;
  background-color: #FFFFFF;
  color: #034a40;
  border: 3px solid #034a40;
  padding: 1rem;
  font-weight: 700;
  font-size: 1.8rem;
  text-align: left;
  position: relative;
}
.section8 .content .item_container .question span {
  position: absolute;
  right: 2rem;
  transform: rotate(90deg);
  transition: all linear 0.3s;
}
.section8 .content .item_container .question._active span {
  transform: rotate(0);
}
.section8 .content .item_container .answer {
  opacity: 0;
  max-height: 0;
  transition: all linear 0.3s;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.section8 .content .item_container .answer p {
  padding: 0.5rem;
  font-weight: 500;
  border-bottom: 2px solid rgb(252, 223, 81);
}
.section8 .content .item_container .answer p span {
  padding: 0 0.5rem;
  color: rgb(252, 223, 81);
}
.section8 .content .item_container .answer .link {
  display: block;
  text-align: right;
}
.section8 .content .item_container .answer .link a {
  color: #034a40;
  font-size: 1rem;
  font-weight: 500;
}
.section8 .content .item_container .answer .link a:hover {
  text-decoration: underline;
}
.section8 .content .item_container .answer._active {
  opacity: 1;
  max-height: 1000px;
}

.footer {
  margin-top: 2rem;
  background: rgb(252, 223, 81);
  background-image: url(../assets/images/ornament_white.svg);
  background-position: 60vw;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.footer .content {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  padding: 1rem 2rem;
  font-weight: 500;
}
.footer .content .text_container {
  display: block;
  width: 20vw;
  height: 4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  font-size: 1.5rem;
}
.footer .content .text_container div {
  height: 2rem;
  padding: 0.2rem 0.5rem;
  position: absolute;
  text-align: center;
}
.footer .content .text_container .text1 {
  width: 4rem;
  top: 2rem;
  background-color: #000000;
  color: #FFFFFF;
}
.footer .content .text_container .text2 {
  width: 11rem;
  top: 0;
  left: 4rem;
  z-index: 2;
  color: #FFFFFF;
  background-color: #034a40;
}
.footer .content .text_container .text3 {
  top: 1.8rem;
  left: 11rem;
  z-index: 3;
  background-color: #FFFFFF;
}
.footer .content .contacts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #000000;
  font-size: 1rem;
}
.footer .content .contacts div {
  margin-left: 0.5rem;
  border: 2px solid #FFFFFF;
  cursor: pointer;
}
.footer .content .contacts a {
  display: block;
  width: 1.2rem;
  height: 1.2rem;
  margin: 0.4rem;
  border-radius: 0.2rem;
  overflow: hidden;
  background-color: #FFFFFF;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer .content .contacts .linkedin {
  background-image: url(../assets/icon/icon_linkedin.png);
}
.footer .content .contacts .github {
  background-image: url(../assets/icon/icon_git.png);
}
.footer .content .contacts .telegram {
  background-image: url(../assets/icon/icon_telegram.png);
}

/*up_button*/
.up_button {
  background-color: rgb(252, 223, 81);
  background-image: url(../assets/images/tree.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2rem 2rem;
  border: 2px solid #FFFFFF;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 20;
  overflow: hidden;
  cursor: pointer;
  position: fixed;
  left: 2rem;
  bottom: 3rem;
  transform: translate(-100vw, 0);
  transition: all ease 1s;
  opacity: 1;
}

.hide {
  transform: translate(0, 0);
}

@media screen and (min-width: 1367px) {
  html {
    font-size: calc(11px + 0.75vw);
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}
@media screen and (max-width: 991px) {
  .header_content .logo a {
    font-size: 1.8rem;
  }
  .header_content .mob_nav {
    display: block;
    width: 3rem;
    height: 3rem;
    margin: 2rem;
    padding: 1rem;
    z-index: 50;
    background-color: inherit;
    position: relative;
    cursor: pointer;
  }
  .header_content .mob_nav::before,
  .header_content .mob_nav::after,
  .header_content .mob_nav span {
    position: absolute;
    left: 0;
    height: 10%;
    width: 100%;
    transition: all ease 0.4s;
    background: #FFFFFF;
    border-radius: 2px;
  }
  .header_content .mob_nav::before,
  .header_content .mob_nav::after {
    content: "";
  }
  .header_content .mob_nav::before {
    top: 0;
  }
  .header_content .mob_nav::after {
    bottom: 0;
  }
  .header_content .mob_nav span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }
  .header_content .mob_nav._active {
    width: 4rem;
    height: 4rem;
  }
  .header_content .mob_nav._active span {
    transform: scale(0);
    background-color: #000000;
  }
  .header_content .mob_nav._active::before {
    top: 50%;
    transform: rotate(-45deg) translate(0px, -50%);
    background-color: #000000;
  }
  .header_content .mob_nav._active::after {
    bottom: 50%;
    transform: rotate(45deg) translate(0px, 50%);
    background-color: #000000;
  }
  .header_content .mob_nav._act span {
    background-color: #000000;
  }
  .header_content .mob_nav._act::before {
    background-color: #000000;
  }
  .header_content .mob_nav._act::after {
    background-color: #000000;
  }
  .header_content .nav {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #000000;
    opacity: 0;
    transition: all ease 0.8s;
  }
  .header_content .nav .navbar {
    flex-direction: column;
    padding: 8rem 2rem 4rem;
    background-color: #FFFFFF;
    background-image: url(../assets/images/human2і.png), url(../assets/images/tree.png), url(../assets/images/bg_repeat.svg);
    background-size: 100px, 200px, 300px;
    background-position-y: 90%, 90%, 0;
    background-position-x: 90%, 90%, 0;
    background-repeat: no-repeat, no-repeat, repeat;
  }
  .header_content .nav .navbar .nav-item {
    font-size: 3rem;
    margin: 1rem 0;
    border-left: 5px solid #034a40;
    padding: 0rem;
  }
  .header_content .nav .navbar .nav-item a {
    color: inherit;
    padding-left: 0.5rem;
    border-bottom: 1px solid rgb(252, 223, 81);
  }
  .header_content .nav._active {
    top: 0;
    box-shadow: 0 0 100px #000000;
    opacity: 1;
  }
  .section1 .text_container {
    top: 55%;
  }
  .section1 .text_container .text1 {
    width: 7rem;
    top: 0;
    text-transform: uppercase;
  }
  .section1 .text_container .text2 {
    width: 20rem;
    top: 4rem;
    left: 0;
    z-index: 3;
  }
  .section1 .text_container .text3 {
    top: 7.5rem;
    left: 6rem;
    z-index: 2;
  }
  .section1 .text_container .text4 {
    text-transform: none;
    font-size: 2rem;
    right: 4rem;
    bottom: -6rem;
    height: auto;
    background-color: #034a40;
    color: white;
  }
  .section2 {
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #034a40;
  }
  .section2 .left {
    width: 100%;
  }
  .section2 .left .title {
    text-align: center;
  }
  .section2 .right {
    width: 100%;
    min-height: 500px;
  }
  .section2 .right .img1 {
    left: 60%;
  }
  .section3 {
    flex-direction: column;
    height: auto;
    border-bottom: 1px solid #034a40;
  }
  .section3 .left {
    width: 100%;
    height: 50%;
  }
  .section3 .right {
    width: 100%;
    height: auto;
    padding: 2rem 0;
  }
  .section3 .right .description {
    padding: 1rem;
  }
  .section4 {
    padding-left: 0;
    border-bottom: 1px solid #034a40;
  }
  .section4 .left {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    left: 0;
    bottom: 0%;
    transform: translate(0, 0);
  }
  .section4 .right {
    width: 100%;
  }
  .section4 .right figure {
    position: absolute;
    width: 33.3%;
    height: 25%;
    overflow: hidden;
  }
  .section4 .right figure img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .section4 .right .img1 {
    right: 66.6%;
    top: 25%;
  }
  .section4 .right .img2 {
    right: 33.3%;
    top: 0;
  }
  .section4 .right .img3 {
    right: 0%;
    top: 25%;
  }
  .section5 {
    height: -moz-fit-content;
    height: fit-content;
  }
  .section5 .places {
    height: auto;
  }
  .section5 .places .gallery {
    display: none;
  }
  .section5 .selected {
    width: 100%;
    flex-direction: column-reverse;
  }
  .section5 .selected .text {
    width: 100%;
  }
  .section5 .selected .text h5 {
    margin: 0;
    padding: 1rem;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    transform: translate(0, -100%);
    z-index: 10;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: #FFFFFF;
    font-weight: 500;
  }
  .section5 .selected .text .description {
    transform: translate(0, -1rem);
  }
  .section5 .selected .photo {
    width: 100%;
    height: 50vh;
    min-height: 250px;
    padding: 0;
    position: relative;
  }
  .section6 .images_bank {
    padding: 2rem;
  }
  .section6 .images_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section6 .images_wrapper div {
    min-height: 350px;
  }
  .section7 {
    max-height: 50vh;
  }
}
@media (pointer: coarse) {
  .places .photo button {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .header_content .nav .navbar .nav-item {
    font-size: 2.5rem;
  }
  .footer .content {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }
  .footer .content .text_container {
    width: 100%;
    margin-left: 5rem;
  }
  .footer .content .contacts {
    margin-top: 1rem;
  }
  .up_button {
    left: 1rem;
    bottom: 1rem;
  }
}
@media screen and (max-width: 576px) {
  html {
    font-size: 12px;
  }
  .header_content .nav .navbar .nav-item {
    font-size: 2rem;
  }
  .section {
    padding: 0 1rem;
  }
  .section2 .right {
    min-height: 0;
    height: 50vh;
  }
  .section4 {
    height: 115vh;
    padding: 0;
  }
  .section6 {
    padding: 0;
  }
  .section6 .images_bank {
    padding: 1rem;
  }
  .section6 .images_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .section6 .images_wrapper div {
    height: 60%;
    min-height: 300px;
  }
  .section8 {
    padding: 0;
  }
  .section8 .content {
    padding: 1rem 0;
  }
  .section8 .content .item_container {
    overflow: hidden;
  }
  .section8 .content .item_container .question {
    display: block;
    z-index: 5;
    width: 100%;
    background-color: #FFFFFF;
    color: #034a40;
    border: 3px solid #034a40;
    padding: 1rem 2rem 1rem 1rem;
    font-weight: 700;
    font-size: 1.8rem;
    text-align: left;
    position: relative;
  }
  .section8 .content .item_container .question span {
    position: absolute;
    right: 2rem;
    transform: rotate(90deg);
    transition: all linear 0.3s;
  }
  .section8 .content .item_container .question._active span {
    transform: rotate(0);
  }
  .section8 .content .item_container .answer {
    opacity: 0;
    max-height: 0;
    transition: all linear 0.3s;
    font-size: 1.5rem;
    padding: 0.5rem;
  }
  .section8 .content .item_container .answer p {
    padding: 0.5rem;
    font-weight: 500;
    border-bottom: 2px solid rgb(252, 223, 81);
  }
  .section8 .content .item_container .answer p span {
    padding: 0 0.5rem;
    color: rgb(252, 223, 81);
  }
  .section8 .content .item_container .answer .link {
    display: block;
    text-align: right;
  }
  .section8 .content .item_container .answer .link a {
    color: #034a40;
    font-size: 1rem;
    font-weight: 500;
  }
  .section8 .content .item_container .answer .link a:hover {
    text-decoration: underline;
  }
  .section8 .content .item_container .answer._active {
    opacity: 1;
    max-height: 1000px;
  }
}/*# sourceMappingURL=style.css.map */