@import 'normalize.scss';

$color_green: #034a40;
$color_yellow: rgb(252, 223, 81);
$color_gray: #252828;
$color_lightBlue: #C1D7D4;
$color_white: #FFFFFF;
$color_black: #000000;

body{
    font-family: 'Roboto', sans-serif;
}

body._noScroll{
    overflow: hidden;
}
.wrapper{
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
}



//класи для анімації
._anim_show{
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all ease .8s;
}
._anim_show_left{
    transform: translate(-100%, 0);
    opacity: 0;
    transition: all ease .8s;
}
._anim_show_right{
    transform: translate(100%, 0);
    opacity: 0;
    transition: all ease .8s;
}
._anim_show_left._active,
._anim_show_right._active,
._anim_show._active,
._active ._anim_show{
    opacity: 1;
    transform: translate(0px, 0px);
}

.green{
    color: $color_green;
}
.yellow{
    color: $color_yellow;
}


//  header---------------------------------------------

.header_content{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    color: $color_white;
    border-bottom: 2px solid $color_white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 1.3rem;
    transition: all ease .8s;
    .logo{ 
        z-index: 50;
        a{
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color_black;
            >span{
                display: block;
            }
            span>span{
                color: $color_green;
            }
            span:nth-child(2){
                color: $color_yellow;
            }
        }
    } 
    .nav{
        .navbar{
            display: flex;
            li{
                margin-left: .5rem;
                font-weight: 700;
                text-transform: uppercase;
                padding: 1rem;  
                a{
                    color: inherit;
                }   
            }
            a:hover{
                text-decoration: underline;
            }  
        }
    }
    .mob_nav{
        display: none;
    }
}
.header_active{
    background-color: $color_white;
    box-shadow: 0 0 30px $color_black;
    color: black!important;
}


//  main--------------------------
.main_container{
    width: 100%;
    background-color: $color_white;
    background-image: url(../assets/images/bg_repeat.svg);
    background-size: contain;
    background-repeat: repeat;
    background-position: top;
    overflow: hidden;
}
.section{
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    margin-bottom: 5rem;
}


//  section1---------------------------------------------
.section1{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 25%), url(../assets/images/bridge.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0 2rem;
    height: 110vh;
    min-height: 550px;
    left: 0;
    right: 0;
    position: relative;
    overflow: hidden;
    .text_container{
        width: 100%;
        height: 12rem;
        position: absolute;
        top: 50%;
        font-size: 3rem;
        font-weight: 700;
        text-transform: uppercase;
        div{
            height: 4rem;
            padding:.5rem 1rem;
            position: absolute;
            padding: .5rem; 
        }
        .text1{
            width: 7rem;
            top: 4rem;
            background-color: $color_yellow;
            text-transform: none;
            transition: all ease 2s .2s;
        }
        .text2{
            width: 20rem;
            top: 0;
            left: 7rem;
            z-index: 2;
            color: $color_white;
            background-color: $color_green;
            transition: all ease 2s .6s;
        }
        .text3{
            top: 3.5rem;
            left: 19rem;
            z-index: 3;
            background-color: $color_white;
            transition: all ease 2s 1s;
        }
        .text4{
            text-transform: none;
            font-size: 2rem;
            right: 4rem;
            bottom: 0;
            height: auto;
            background-color: $color_white;
            transition: all ease 2s 4s;
        }
    }
}


//  section2---------------------------------------------
.section2{
    display: flex;
    align-items: center;
    padding: 0 2rem;
    .left{
        width: 50%;
        position: relative;
        padding: 7% 5%;
        .title{
            text-transform: uppercase;
            font-size: 3rem;
            font-weight: 900;
            span:nth-child(1){
                color: $color_green;
            }
            span:nth-child(2){
                display: block;
                color: $color_yellow;
            }
        }
        .description{
            font-size: 1.5rem;
            font-weight: 500;
            margin-top: 2rem;
            strong{
                color: $color_yellow;
                font-weight: 700;
            }
        }
    }
    .right{
        width: 50%;
        height: 100vh;
        position: relative;
        .img1{
            width: 75%;
            height:75%;
            position: absolute;
            top: 5%;
            left:50%;
            transform: translate(-50%, 0%);
            box-shadow: 0 0 10px $color_green;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: fill;
                object-position: center;
            }   
        }
        .img2{
            width: 60%;
            height: 70%;
            position: absolute;
            top: 55%;
            left: 0%;
            transform:translate(0%, -50%);
            box-shadow: 0 0 10px $color_green;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}


//  section3---------------------------------------------

.section3{
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
    .left{
        width: 50%;
        height: 100%;
        position: relative;
        .img3{
            width: 100%;
            height: 100%;
            box-shadow: 0 0 10px $color_green;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }   
        }
    }
    .right{
        width: 50%;
        height: 100%;
        position: relative;
        padding: 5%;
        .title{
            font-size: 2.5rem;
            font-weight: 700;
            color: $color_gray;
            strong{
                color: $color_yellow;
            }
        }
        .description{
            font-size: 1.8rem;
            font-weight: 500;
            margin-top: 3rem;
            padding: 1.8rem;
            background-color: $color_green;
            color: $color_white;
        } 
    }
    .top{
        position: absolute;
        top: 0%;
        left: 0%;
    }
}


//  section4---------------------------------------------

.section4{
    padding-left: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
    .left{
        width: 40%;
        z-index: 2;
        position: absolute;
        left: 2rem;
        bottom: 50%;
        transform: translate(0, 50%);
        .text_container{
            background-color: $color_green;
            color: $color_white;
            font-size: 1.4rem;
            font-weight: 500;
            padding: 2rem;
            .title{
                text-transform: uppercase;
                font-size: 2.2rem;
                font-weight: 700;
                margin-bottom: 2rem;
                color: $color_yellow;
            }
        }
        }
    .right{
        width: 75%;
        height: 100%;
        background: url(../assets/images/img4-1.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        figure{
            display: block;
            position: absolute;
            width: 25%;
            height: 33.3%;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
        .img1{
            right: 25%;
            top: 0;
            transition: all ease .8s .2s;
        }
        .img2{
            right: 0%;
            top: 33.3%;
            transition: all ease .8s .6s;
            }
        .img3{
            right: 25%;
            top: 66.6%;
            transition: all ease .8s 1s;
        }
    }
}


//  section5---------------------------------------------

.section5{
    padding: 0 2rem;
    overflow: hidden;
    .title{
        margin: 0 auto;
        width: fit-content;
        padding: 1rem 2rem;
        background-color: $color_green;
        color: $color_white;
        font-size: 2.5rem;
        font-weight: 500;
        transition: all ease .4s;
        strong{
            color: $color_yellow;
        }
    }
    .places{
        width: 100%;
        height: 90%;
        overflow: hidden;
    }
    .selected{
        width: 100%;
        height: 70%;
        margin-top: 1rem;
        display: flex;
        .text{
            width: 40%;
            h5{
                margin: 1rem;
                font-size: 2.5rem;
                font-weight: 700;
                text-align: center;
                color: #034940;
            }
            .description{
                font-size: 1.2rem;
                font-weight: 500;
                background-color: $color_green;
                color: $color_white;
                padding: 1rem;
            }
        }
        .photo{
            width: 60%;
            height: 100%;
            padding: 1rem 2rem;
            position: relative;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                box-shadow: 0 0 10px $color_green;
            }
            //slide buttons
            .previous_slide, .next_slide {
                cursor: pointer;
                position: absolute;
                top: 50%;
                width: auto;
                padding: .7rem;
                color: $color_white;
                font-weight: bold;
                font-size: 1rem;
                transition: 0.6s ease;
                //border-radius: .2rem;
                transform: translate(0%, -50%);
                background-color: rgb(0, 0, 0, 0.5);
                backdrop-filter: blur(10px); 
                opacity: 0;
            }
            .previous_slide{
                left: 2rem;
            }
            .next_slide{
                right: 2rem;
            }
            .previous_slide:hover,
            .next_slide:hover {
                background-color: rgba(3, 73, 64);
            }
            .item {
                animation-name: fade;
                animation-duration: 1.5s;
            }     
        }
        .photo:hover button{
            opacity: 1;
        }

    }
    .gallery{
        width: 100%;
        height: 25%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-column-gap: .5rem;
        div{
            width: 100%;
            height: 100%;
            .gallery_img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all ease .4s;
                cursor: pointer;
            }
            .gallery_img.active{
                transform: scale(1.05);
                box-shadow: 0 0 10px $color_green;
            }
            .gallery_img:hover{
                box-shadow: 0 0 10px $color_green;
            }
        }
        .gallery_img:hover{
            transform: scale(1.05);
        }
    }
}


//  section6---------------------------------------------

.section6{
    width: 100%;
    margin-top: 2rem; 
    .stop{
        width: 100%;
        height: 2rem;
        background-color: #034940;
    }
}


//  section7---------------------------------------------

.section7{
    height: 100vh;
    max-height: 700px;
    min-height: 300px;
    padding: 2rem;
    .title{
        display: inline-block;
        margin-left: 2rem;
        padding: .5rem 0;
        font-size: 2rem;
        font-weight: 700;
        color: $color_green;
        margin-bottom: 2rem;
        border-bottom: 3px solid $color_yellow;
    }
    .video{
        width: 100%;
        height: 100%;
        overflow: hidden;
        padding: .5rem;
        background-color: #000000;
        iframe{
            width: 100%;
            height: 100%;
            object-fit: cover;
        
        }
        
    }
    


}

//  footer---------------------------------------------
footer{
    .bg_container{
        margin-top: 2rem;
        background: $color_yellow;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
    .content{
        margin-top: 10rem;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 2rem;
        font-weight: 500;
        .logo a img{
            width: 14rem;
        }

        .contacts{
            width: 100%;
            display: flex;
            align-items: center;
            margin-bottom: .5rem;
            justify-content: end;
            color: $color_green;
            font-size: 1rem;

            a{  
                margin-left: .5rem;
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: .2rem;
                overflow: hidden;
                img{
                    width: 1.5rem;
                }
            }
        }


    }
    
}



/*up_button*/
.up_button{
    background-color: $color_yellow;
    background-image: url(../assets/images/tree.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    border: 2px solid $color_white;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 20;
    overflow: hidden;
    cursor: pointer;
    position: fixed;
    left: 2vw;
    bottom: 4rem;
    transform: translate(-100vw, 0);
    transition: all ease 1s;
    opacity: 1;
}
.hide{
    transform: translate(0, 0);
}










/*
@media screen and (min-width: 1900px){
}
*/
/*
@media screen and (min-width: 1600px){
}
*/
@media screen and (min-width: 1367px){
    html{
        font-size: calc(11px + 0.75vw);
    }
}
@media screen and (max-width: 1200px){
    html{
        font-size: 14px;
    }
}
@media screen and (max-width: 991px){

    .header_content{
        .logo a{
            font-size: 1.8rem;
        }
      //nav button
        .mob_nav{
            display: block;   
            width: 3rem;
            height: 3rem;
            margin: 2rem;
            padding: 1rem;
            z-index: 50;
            background-color: inherit;
            position: relative;
            cursor: pointer;
        }
        .mob_nav::before, 
        .mob_nav::after, 
        .mob_nav span{
            position: absolute;
            left: 0;
            height: 10%;
            width: 100%;
            transition: all ease .4s;
            background: $color_white;
            border-radius: 2px;
        } 
        .mob_nav::before, 
        .mob_nav::after{
            content: '';
        }
        .mob_nav::before{
            top: 0;
        }
        .mob_nav::after{
            bottom: 0;
        }
        .mob_nav span{
            top: 50%;
            transform: scale(1) translate(0px, -50%);
        }
        .mob_nav._active{
            width: 4rem;
            height: 4rem;
        }
        .mob_nav._active span{
            transform: scale(0);
            background-color: $color_black;
        }
        .mob_nav._active::before{
            top: 50%;
            transform: rotate(-45deg) translate(0px, -50%);
            background-color: $color_black;
        }
        .mob_nav._active::after{
            bottom: 50%;
            transform: rotate(45deg) translate(0px, 50%);
            background-color: $color_black;
        }
        .mob_nav._act span{
            background-color: $color_black;
        }
        .mob_nav._act::before{
            background-color: $color_black;
        }
        .mob_nav._act::after{
            background-color: $color_black;
        }
        .nav{
            position: fixed;
            top: -120%;
            left: 0;
            width: 100%;
            background-color: $color_white;
            background-image: url(../assets/images/human2і.png), url(../assets/images/tree.png), url(../assets/images/bg_repeat.svg);
            background-size: 100px, 200px, 300px;
            background-position-y: 90%, 90%, 0;
            background-position-x: 90%, 90%, 0;
            background-repeat: no-repeat, no-repeat, repeat;
            color: $color_black;
            padding: 8rem 2rem 4rem;
            transition: all ease .8s;
            .navbar{
                flex-direction: column;
                .nav-item{
                    font-size: 3rem;
                    margin: 1rem 0;
                    border-left: 5px solid $color_green;
                   // border-bottom: 1px solid $color_yellow;
                    padding: 0rem;
                    a{
                        color: inherit;
                        padding-left: .5rem;
                        border-bottom: 1px solid $color_yellow;
                        //border-left: 5px solid $color_yellow
                    }
                }
                
            }  
        };
        .nav._active{
            top: 0;
            box-shadow: 0 0 100px $color_black;
        }
    }
    .section1{
        .text_container{
            top: 55%;
            .text1{
                width: 7rem;
                top: 0;
                text-transform: uppercase;
            }
            .text2{
                width: 20rem;
                top: 4rem;
                left: 0;
                z-index: 3;
            }
            .text3{
                top: 7.5rem;
                left: 6rem;
                z-index: 2;
            }
            .text4{
                text-transform: none;
                font-size: 2rem;
                right: 4rem;
                bottom: -6rem;
                height: auto;
                background-color: $color_green;
                color: white;

            }
        }
    }
    .section2{
        flex-direction: column;
        height: auto;
        border-bottom: 1px solid $color_green;
        .left{
            width: 100%;
            .title{
                text-align: center;
            }
        }
        .right{
            width: 100%;
            min-height: 500px;
            .img1{
                left: 60%;
            }
        }
    }
    .section3{
        flex-direction: column;
        height: auto;
        border-bottom: 1px solid $color_green;
        .left{
            width: 100%;
            height: 50%;
            
        }
        .right{
            width: 100%;
            height: auto;
            padding: 2rem 0;
            .description{
                padding: 1rem;
            }
        }
    }
    .section4{
        padding-left: 0;
        border-bottom: 1px solid $color_green;
        .left{
           width: 100%;
           height: fit-content;
           left: 0;
           bottom: 0%;
           transform: translate(0, 0);
        }
        .right{
            width: 100%;
            figure{
                position: absolute;
                width: 33.3%;
                height: 25%;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .img1{
                right: 66.6%;
                top: 25%;
            }
            .img2{
                right: 33.3%;
                top: 0;
                }
            .img3{
                right: 0%;
                top: 25%;
            }
        }
    }
    .section5{
        height: fit-content;
        .places{
            height: auto;
            .gallery{
                display: none;
            }
        }
        .selected{
            width: 100%;
            flex-direction: column-reverse;
            .text{
                width: 100%;
                h5{
                    margin: 0;
                    padding: 1rem;
                    width: fit-content;
                    margin: 0 auto;
                    transform: translate(0, -100%);
                    z-index: 10;
                    position: relative;
                    background-color: rgb(0, 0, 0, 0.5);
                    backdrop-filter: blur(10px); 
                    color: $color_white;
                    font-weight: 500;
                }
                .description{
                    transform: translate(0, -1rem);
                }
            }
            .photo{
                width: 100%;
                height: 50vh;
                min-height: 250px;
                padding: 0;
                position: relative;
            }
        }
    }
}
@media screen and (max-width: 767px){
    .header_content .nav .navbar .nav-item {
        font-size: 2.5rem;
    }
}
@media screen and (max-width: 576px){
   .header_content .nav .navbar .nav-item {
    font-size: 2rem;
    }
    .section2{
        .right{
            min-height: 0;
            height: 50vh;
        }
    }

}
